#### Exercise ####

#### Please refer to module 1 of Intro To Statistics - Hypothesis Testing for Tasks 1-7
#### Task 1
##### Review the tasks below and import the packages required to complete them.
##### Set the working directory to data directory.
##### Print the working directory.
#### Result:

In [5]:
import os
from pathlib import Path as pth
import pandas as pd

cwd = os.getcwd()
main_dir = pth(cwd).parent
data_dir = pth(str(main_dir) + '/data')

#### Task 2
##### Load `ChemicalManufacturingProcess.csv` from the data folder as ex_data.
##### The goal is to understand the relationship between two variables.
##### Print the head() of data, shape, number of rows and number of columns.
##### Subset the data to contain only numeric variables.
##### Drop NaN values and reset index.

#### Result:

In [6]:
ex_data = pd.read_csv(str(data_dir)+'/ChemicalManufacturingProcess.csv')
nrows,ncols = ex_data.shape
print(ex_data.shape)

ex_data.dropna()

ex_data.head()
ex_data.set_index('id')

(176, 59)

,Yield,BiologicalMaterial01,BiologicalMaterial02,BiologicalMaterial03,BiologicalMaterial04,BiologicalMaterial05,BiologicalMaterial06,BiologicalMaterial07,BiologicalMaterial08,BiologicalMaterial09,...,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41,ManufacturingProcess42,ManufacturingProcess43,ManufacturingProcess44,ManufacturingProcess45
id,,,,,,,,,,,,,,,,,,,,,
1,38.00,6.25,49.58,56.97,12.74,19.51,43.73,100.0,16.66,11.44,...,0.019,0.5,3,7.2,NaN,NaN,11.6,3.0,1.8,2.4
2,42.44,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.019,2.0,2,7.2,0.1,0.15,11.1,0.9,1.9,2.2
3,42.03,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,0.7,2,7.2,0.0,0.00,12.0,1.0,1.8,2.3
4,41.42,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,1.2,2,7.2,0.0,0.00,10.6,1.1,1.8,2.1
5,42.49,7.47,63.33,72.25,14.02,17.91,54.66,100.0,18.22,12.80,...,0.017,0.2,2,7.3,0.0,0.00,11.0,1.1,1.7,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,39.66,6.71,56.32,66.19,12.35,20.02,50.26,100.0,17.54,12.50,...,NaN,2.3,0,0.0,0.0,0.00,0.0,0.6,0.0,0.0
173,39.68,6.87,56.74,66.61,12.55,20.18,50.80,100.0,17.48,12.41,...,NaN,1.0,0,0.0,0.0,0.00,0.0,0.6,0.0,0.0
174,42.23,7.50,58.41,68.30,13.33,20.81,52.96,100.0,17.23,12.04,...,NaN,1.3,0,0.0,0.0,0.00,0.0,0.6,0.0,0.0
175,38.48,7.53,58.36,69.25,14.35,20.57,51.31,100.0,17.87,12.77,...,NaN,2.3,0,0.0,0.0,0.00,0.0,0.5,0.0,0.0
176,39.49,7.53,58.36,69.25,14.35,20.57,51.31,100.0,17.87,12.77,...,NaN,0.9,0,0.0,0.0,0.00,0.0,0.6,0.0,0.0

#### Task 3
##### Define `ex_sd` to be the population standard deviation to be `1.8762296787190247`.
##### Then, calculate the standard error of the sample mean, and save it to a variable `ex_se`.
#### Result:

In [9]:
# calculating standard error and sample mean

import math
import numpy as np
ex_sd = 1.8762296787190247
ex_sqrt_len = np.sqrt(len(ex_data))

ex_se = ex_sd/ex_sqrt_len
ex_se

0.14142613329181966

#### Task 4
##### Next, calculate the margin of error (MOE) for a 95% confidence interval.
##### HINT: by the empirical rule, 95% confidence interval implies z = 2.
##### Save this MOE as `ex_moe_95`.
#### Result:

In [10]:
# function for finding margin of error 
def find_moe(z,std,size):
    moe = z * std/math.sqrt(size)
    return moe

In [11]:
# using the find_moe function
from scipy.stats import norm
import scipy.stats as st

z = 1.96

ex_moe_95 = find_moe(z,ex_sd,nrows)
ex_moe_95

0.2771952212519665

#### Task 5
##### Create a variable `ex_mean` that is the mean of `'Yield'` column.
##### Using this as the sample mean and the MOE calculated in the previous problem, 
##### Create a 95% confidence interval for the population mean.
##### Name the lower bound `CI_lower` and the upper bound `CI_upper`.
#### Result:

In [12]:
# function for finding confidence interval based on mean and margin of error
def find_CI(mean,moe):
    CI = (mean - moe, ex_mean + moe)
    return (CI[0],CI[1])

In [13]:
# finding the confidence interval
ex_mean = ex_data['Yield'].mean()
CI_lower,CI_upper = find_CI(ex_mean,ex_moe_95)
print(find_CI(ex_mean,ex_moe_95))

(39.89933886965712, 40.45372931216105)

#### Task 6
##### Determine an appropriate z-value for a 90% confidence interval.
##### Calculate the MOE using this z-value.
##### Then calculate the upper and lower bounds of a 90% confidence interval.
##### How does this interval compare to the 95% confidence interval?
#### Result:

In [14]:
# computing the z-score from the confidence interval
def find_z_from_CI(CI):
    if CI > 1:
        CI /= 100
    value = (1 - CI)
    CI += value/2
    z = st.norm.ppf(CI)
    return z

In [15]:
# getting the confidence interval through the z value
CI = .9
z = find_z_from_CI(CI)
print(z)

CI_lower,CI_upper = find_CI(ex_mean,
                            find_moe(z,ex_sd,nrows))
print('lower bound:',CI_lower,'upper bound:',CI_upper)

1.6448536269514722
lower bound: 39.94390880261832 upper bound: 40.409159379199856

#### Please refer to module 2 of Intro To Statistics - Hypothesis Testing for Tasks 7-11
#### Task 7
##### We are going to conduct a hypothesis test at the alpha = 0.10 level. 
##### Assume a claim has an average of 'Yield' as 36.83, with a population standard deviation of `ex_sd`, as previously assumed. 
##### Note that we have already calculated the sample standard error in Task 3 and it's called `ex_se`.
##### Our `ex_df` dataframe will serve as a random sample of the population.
##### Our belief is that the average `'Yield'` is less than 36.83, and we will conduct our test in hopes to prove so.
##### What are our null and alternative hypotheses?
#### Result:

In [17]:
a = .1
avg_yield = 36.83

# alternative: avg_yield is less than 36.83
# null hypothesis: avg_yield is not less than 36.83

#### Task 8
##### To test the hypothesis in Task 7, we will first calculate the z-score
##### Calculate the z-score and save it to a variable `z_ex_df_90`
##### Calculate the p-value and save it to a variable `p_ex_df_90`
##### What is our conclusion of this hypothesis test?
#### Result:

In [18]:
CI = .9

df_mean = ex_data['Yield'].mean()
print('mean of yield column:',df_mean)

df_se = ex_data['Yield'].std()/np.sqrt(ex_data.shape[0])
print('se of yield column:',df_se)

z_score = -(df_mean - avg_yield)/df_se

z_ex_df_90 = z_score
print('z:',z_ex_df_90)

p_ex_df_90 = norm.cdf(z_ex_df_90)
print('p:',p_ex_df_90)



if (p_ex_df_90 <= a):
    print('Reject the null hypothesis, avg yield is less than 36.83')
else:
    print('Fail to reject the null hypothesis, avg yield is not less than 36.83 as defined by the sample data')

mean of yield column: 40.17653409090909
se of yield column: 0.1391223400925942
z: -24.0546132898697
p: 3.73480450500397e-128
Reject the null hypothesis, avg yield is less than 36.83

#### Task 9
##### We are going to conduct a two-tailed hypothesis test at the alpha = 0.05 level.
##### Assume another research has claimed the average selected_column is 36.83, with a population standard deviation of 1.8762296787190247. 
##### Our `ex_df` dataframe will serve as a random sample of the population.
##### Our belief is that the average `'Yield'` cannot be equal to 36.83, and we will conduct our test in hopes in proving so.
##### Print our null and alternative hypothesis?
#### Result:

In [19]:
alpha = 0.05
avg_yield = 36.83
pop_std = 1.8762296787190247

mean_data = ex_data['Yield'].mean()

null = 'Avg yield is 36.83, fail to reject null hypothesis'
alt = 'Avg yield is not 36.83, reject null hypothesis'

#### Task 10
##### Calculate the z-score using formula as `z_twotail`.
##### Next, calculate the p-value of this z-score.
##### What is the conclusion of this hypothesis test?
#### Result:

In [21]:
z_twotail = (avg_yield - mean_data) / df_se
print('z_score from two-tailed:',z_twotail)

p_twotail = norm.cdf(z_twotail)
print('p_val:',p_twotail)
if p_twotail < alpha/2:
    print(alt)
else:
    print(null)

z_score from two-tailed: -24.0546132898697
p_val: 3.73480450500397e-128
Avg yield is not 36.83, reject null hypothesis

#### Task 11
##### Create a 95% confidence interval, and determine whether it confirms your results.
#### Result:

In [22]:
# creating a confidence interval for 95% and the z_score
CI_interval = .95
z = norm.ppf((1-CI_interval)/2)

In [90]:
z

-1.959963984540054

In [91]:
CI_lower = df_mean + z*df_se
CI_upper = df_mean - z*df_se

In [92]:
CI_lower

39.903859314882666

In [93]:
CI_upper

40.44920886693551

In [100]:
if avg_yield in np.arange(CI_lower,CI_upper):
    print(f'reject null hypothesis, {avg_yield} is in the confidence interval')
else:
    print(f'fail to reject null hypothesis, {avg_yield} is not in the confidence interval')

fail to reject null hypothesis, 36.83 is not in the confidence interval